<STYLE type="text/css">


BODY
{
FONT-SIZE: 12px;
font-weight: nomal;
font-family: "µ¸¿ò","Tahoma";
SCROLLBAR-FACE-COLOR: #FFFFFF; SCROLLBAR-HIGHLIGHT-COLOR: #666666; SCROLLBAR-SHADOW-COLOR: #666666; SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; SCROLLBAR-ARROW-COLOR: #333333; SCROLLBAR-TRACK-COLOR: #f6f6f6; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
.length {line-height="20px";}
td
{
    font-family: "µ¸¿ò","Tahoma";
    FONT-SIZE: 12px;   
    color: #333333
}

</STYLE>
