/* command table */
.command            {width:100%; border-spacing:0px; border:0px; padding-top:2px; padding-bottom:2px; padding-right:2px; padding-left:2px;}
.command TD         {font-size:9pt; }
.command BUTTON    {cursor:hand; font-size:9pt; font-weight: bold!important; color:#FFFFFF!important; background-color: #4A4B4D; border-style:ridge!important; border-width: 1px!important; border-color: white #333333 #333333 white!important; padding-top:2px;}
.command INPUT      {background-color: rgb(231, 239, 252); border: 1px solid rgb(25, 53, 94);    padding-left: 2px; padding-bottom: 2px;}
.command SELECT     {border: 1px solid #808080; color:#333333 }

/* table - contents view */
.contents           {width:100%; border-top:1px solid gray; border-left:1px solid gray;}	
.contents TH        {line-height:20px; font-weight:bold; font-size:12px; color:#304C60; background-color:darkgray; text-align:center; border-bottom:1px solid gray; border-right:1px solid gray;}
.contents TD        {font-weight:normal; font-size:12px; border-bottom:1px solid darkgray; border-right:1px solid darkgray;}
.contents BUTTON    {cursor:hand; font-size:9pt; font-weight: bold!important; color:#FFFFFF!important; background-color: #8c8c8c; border-style:ridge!important; border-width: 1px!important; border-color: white #333333 #333333 white!important; padding-top:2px;}
.contents SELECT    {border: 1px solid #808080; color:#333333; height:22px; }
.contents TEXTAREA  {font-size:10pt;}
.contents a:link    {text-decoration:underline; color: #4A4B4D;}
.contents a:visited {text-decoration:underline; color: #4A4B4D;}
.contents a:active  {text-decoration:underline; color: #182F91;}
.contents a:hover   {text-decoration:underline; color: #182F91; background-color: yellow;}

.contents-inner    {border-collapse:collapse;}	
.contents-inner TD {font-weight:normal; font-size:12px; }

.contents-none         {border-collapse:collapse; border-top:0px; border-left:0px;}	
.contents-none TD      {font-weight:normal; font-size:12px; border-bottom:0px; border-right:0px;}
.contents-none SELECT  {border: 1px solid darkgray; background-color:#FFFFFF; height:22px;}

.contents-select           {border-top:1px solid gray; }	
.contents-select TD        {font-weight:normal; font-size:12px; border-bottom:1px solid darkgray;}

.td1      {background-color:rgb(255, 255, 255);}
.td2      {background-color:rgb(240, 240, 240);}
.th       {background-color:rgb(240, 240, 240);}
.ith      {background-color:#DCDCDC; text-align:left;}

/* TEXT */
.txt       {background-color: rgb(231, 239, 252); border: 1px solid rgb(25, 53, 94);    padding-left: 2px; padding-bottom: 2px;}
.txtro     {background-color: rgb(231, 239, 252); border: 1px solid rgb(204, 204, 204); padding-left: 2px; padding-bottom: 2px;}
.txtwan    {background-color: red; border: 1px solid rgb(25, 53, 94);    padding-left: 2px; padding-bottom: 2px;}
.num       {background-color: rgb(231, 239, 252); border: 1px solid rgb(25, 53, 94);    padding-right: 2px; padding-bottom: 2px; text-align:right;}
.numro     {background-color: rgb(231, 239, 252); border: 1px solid rgb(204, 204, 204); padding-right: 2px; padding-bottom: 2px; text-align:right;}
.numwan    {background-color: red; border: 1px solid rgb(204, 204, 204); padding-right: 2px; padding-bottom: 2px; text-align:right;}


/* LINK */
a:link    {text-decoration:none; color: #4A4B4D;}
a:visited {text-decoration:none; color: #4A4B4D;}
a:active  {text-decoration:underline; color: #182F91;}
a:hover   {text-decoration:underline; color: #182F91; background-color: rgb(231, 239, 252);}

INPUT { 
	vertial-align:middle; 
}

SELECT {
	padding:0; 
	font-family: Tahoma, Arial, Helvetica, sans-serif, dotum;  
	font-size: 12px; 
	height: 22px;
	scrollbar-face-color: #CFDBEF; 
	scrollbar-highlight-color: #F1F9FE; 
	scrollbar-3dlight-color: #ABBBC7; 
	scrollbar-darkshadow-color: #7F9CB2; 
	scrollbar-shadow-color: #CAE4F8; 
	scrollbar-arrow-color: #7F9CB2; 
	scrollbar-track-color: #F2F2F2; 
}

TEXTAREA { 
	font-family: Tahoma, Arial, Helvetica, sans-serif, dotum;  
	vertial-align:middle; 
}

TABLE { 
	font-size:12px;
}

BODY {
	padding:0; 
	font-family: Tahoma, Arial, Helvetica, sans-serif, dotum;
	font-size: 12px; 
	scrollbar-face-color: #CFDBEF; 
	scrollbar-highlight-color: #F1F9FE; 
	scrollbar-3dlight-color: #ABBBC7; 
	scrollbar-darkshadow-color: #7F9CB2; 
	scrollbar-shadow-color: #CAE4F8; 
	scrollbar-arrow-color: #7F9CB2; 
	scrollbar-track-color: #F2F2F2; 
	height: 100%;
}